<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Búsqueda BFS</title>
</head>
<body>
    <h1>PUZZLE LINEAL</h1>
    <form method="post">
        <label for="estado_inicial">Estado inicial (separado por comas):</label><br>
        <input type="text" name="estado_inicial" id="estado_inicial" required><br>

        <label for="solucion">Solución (separado por comas):</label><br>
        <input type="text" name="solucion" id="solucion" required><br>

        <button type="submit">Buscar</button>
    </form>
</body>
</html>
